body {
  background: gray;
}
h1 {
  font-family: 'Fjalla One', sans-serif;
}
button {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.875em;
  background: none;
  border: 2px solid black;
  margin: 30px;
}
button:hover {
  background: black;
  color: white;
}
img {
  height: 100%;
  width: 100%;
}
.selection_section {
  text-align: center;
}
.board {
  height: 460px;
  width: 460px;
  margin: 50px auto;
}
.board .square {
  height: 33%;
  width: 33%;
  margin: -2px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-size: cover;
}
.squareRight {
  border-right: 4px solid white;
}
.squareBottom {
  border-bottom: 4px solid white;
}
/*portrait*/
@media only screen and (max-width: 414px){
  .board {
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
  .board .square {
    height: 32.5%;
    width: 32.5%;
  }
}
/*landscape*/
@media only screen
and (min-width : 375px)
and (max-width : 667px)
and (orientation : landscape) {

  .sections {
    display: inline-block;
    margin: 1% auto;
  }
  .selection_section {
    vertical-align: middle;
    width: 30%;
    height: 100%;
  }
  .board_section {
    width: 67%;
    height: 100%;
    vertical-align: middle;
  }
  .board {
    width: 260px;
    height: 260px;
    margin: 7% auto;
  }
  .board .square {
    width: 32.5%;
    height: 32.5%;
  }
}
